* {
  margin: 0;
  padding: 0;
  font-family: Oswald, Roboto, sans-serif;
}

.landing-page {
  width: 900px;
  height: 720px;
  margin: 0 auto;

  background-color: rgba(199, 194, 194, 0.216);
}

ul {
  list-style-type: none;
  margin-bottom: 50px;
  font-size: medium;
  font-weight: bold;
}

li {
  display: inline;
  margin-right: 3px;
}

.unordered-list {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-top: 25px;
  margin-bottom: 85px;
}

div.logo {
  margin-left: 20px;
  padding: 5px 30px;
  border: 3px solid black;
  letter-spacing: 3px;
}

.not-logo {
  margin-right: 20px;
  letter-spacing: 1.5px;
}

.content,
.lorem {
  text-align: center;
}

.landing,
.page {
  font-size: 52px;
  font-weight: bold;
  letter-spacing: 1.75px;
  margin-top: 0;
}

.simple {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.lorem {
  margin-top: 100px;
  font-size: 18px;
  font-weight: normal;
}
.tempor {
  margin-top: -5px;
  margin-bottom: 65px;
}

div.learning {
  width: 140px;
  height: 30px;
  padding: 3px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 5px auto;
  border: 1px solid black;
  box-shadow: 1.5px 1.5px rgba(138, 138, 138, 0.834);
}
